<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PSI Suite</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Materialize & Icons -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"/>

  <!-- Styles & scripts -->
  <link href="../static/style.css" rel="stylesheet"/>
  <script src="../static/script.js" defer></script>
</head>
<body>
  <div class="row no-gutters">
    <!-- SIDEBAR -->
    <nav class="col s12 m3 l2 grey lighten-4 left-menu hide-on-small-only">
      <div class="nav-wrapper">
        <h5 class="center-align">PSI Suite</h5>
        <ul class="section">
          <li><span class="details">ID: <strong id="id"></strong></span></li>
          <li><span class="details">Puerto: <strong id="port"></strong></span></li>
          <li><span id="pending_node"></span></li>
          <li><span id="pending_handler"></span></li>
        </ul>
        <div class="section">
          <a class="btn-small waves-effect waves-light" href="/metrics">Métricas</a>
          <a class="btn-small waves-effect waves-light" onclick="results()">Datos</a>
          <a class="btn-small waves-effect waves-light" onclick="my_data()">Mi dataset</a>
          <a class="btn-small waves-effect waves-light" onclick="mykeys()">Mis claves</a>
          <a class="btn-small waves-effect waves-light" onclick="genkeys('Paillier','2048')">Nuevas P</a>
          <a class="btn-small waves-effect waves-light" onclick="genkeys('Damgard-Jurik','2048')">Nuevas DJ</a>
          <a class="btn-small waves-effect waves-light" onclick="discover_peers()">Buscar peers</a>
          <a id="connect"    class="btn-small waves-effect waves-light" onclick="connect()">Conectar</a>
          <a id="disconnect" class="btn-small red waves-effect waves-light" onclick="disconnect()">Desconectar</a>
          <a class="btn-small grey darken-3 white-text" onclick="toggleTheme()">🌙 Modo Oscuro</a>
        </div>
      </div>
    </nav>

    <!-- MAIN CONTENT -->
    <main class="col s12 m9 l10 content">
      <div class="container">
        <h4 id="devicesConnected">Dispositivos conectados</h4>
        <div id="devices" class="row"></div>
        <p class="guide-text">
          Elige el criptosistema a usar para calcular la intersección:
        </p>
      </div>
    </main>
  </div>
  
</body>
</html>